<style> 
.medium {
    font-weight: 500;
.main-text-color {
    color: #219fd1;
}
}
</style>

 <div class="text">
    <h5 class="title medium">Country : {{ country }}</h5>
                                        
    <div class="time main-text-color">Number of Alien Species :  {{ nbSP }}</div>
 </div>  

