{% extends "base.html.twig" %}
<div class="blog-wrapper col-md-12 main-el">

    <div class="element row">
        <div class="text-center stats hidden-sm hidden-xs col-md-1">
            <div class="date">
                <div class="day light main-text-color">04</div>
                <div class="month">march</div>
            </div>
            <div class="likes">
                <a> <i class="fa fa-heart"></i> </a>
                <div class="amount">735</div>
            </div>
            <div class="share">
                <i class="fa fa-share">
                    <span class="socials">
                        <a class="pinterest" href="#"> <i class="fa fa-pinterest"></i> </a>
                        <a class="gplus" href="#"> <i class="fa fa-google-plus"></i> </a>
                        <a class="twitter" href="#"> <i class="fa fa-twitter"></i> </a>
                        <a class="facebook" href="#"> <i class="fa fa-facebook"></i> </a>
                    </span>
                </i>

                <div>Share</div>
            </div>
        </div>

        <div class="col-md-11">
            <div class="image">
                <div class="overlay">
                    <i class="fa fa-share md"></i>
                </div>
                <img src="../../images/image-wide-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="body">
                <h3><a>Corex Enhancing The Moment</a></h3>
                <p class="italic post-links">Posted By <a>Andrei</a> / <a>In Design</a> / <a>43 Comments</a></p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. adipiscing in adipiscing et, interdum nec metus.
                    auris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis Ut lectus purus, commodo et tincidunt vel, interdum sed lectus. Vestibulum adipiscing tempor
                    isi id elementu Mauris ultricies, convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui [ ... ]
                    <span class="read-link main-text-color"><a href="#">Read More </a><i class="fa fa-play-circle-o"></i></span> </p>

            </div>
        </div>
        <div class="col-md-11 col-md-offset-1">
            <div class="sep-line"></div>
        </div>
    </div>
</div>