{% extends "base.html.twig" %}
<div class="blog-wrapper single">
    <div class="container">
        <div class="row">
            <div class="main-el clearfix">
                <div class="text-center stats hidden-sm hidden-xs col-md-1">
                    <div class="date">
                        <div class="day light main-text-color">04</div>
                        <div class="month">march</div>
                    </div>
                    <div class="likes">
                        <a> <i class="fa fa-heart"></i> </a>
                        <div class="amount">735</div>
                    </div>
                    <div class="share">
                        <i class="fa fa-share">
                            <span class="socials">
                                <a class="pinterest" href="#"> <i class="fa fa-pinterest"></i> </a>
                                <a class="gplus" href="#"> <i class="fa fa-google-plus"></i> </a>
                                <a class="twitter" href="#"> <i class="fa fa-twitter"></i> </a>
                                <a class="facebook" href="#"> <i class="fa fa-facebook"></i> </a>
                            </span>
                        </i>

                        <div>Share</div>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="carousel slide carousel-fade" data-ride="carousel" id="pers-blog-gal-1">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="image">
                                    <img src="../../images/image-wide-2.jpg" class="img-responsive" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="image">
                                    <img src="../../images/image-wide-1.jpg" class="img-responsive" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="image">
                                    <img src="../../images/image-wide-3.jpg" class="img-responsive" alt="">
                                </div>
                            </div>

                        </div>
                        <div class="controls">
                            <a class="left fa fa-chevron-left" href="#pers-blog-gal-1" data-slide="prev"> </a>
                            <a class="right fa fa-chevron-right" href="#pers-blog-gal-1" data-slide="next"> </a>
                        </div>
                    </div>
                    <h3>Amazing Gallery Blog Post</h3>
                    <p class="post-links italic">Posted By <a>Andrei</a> / In <a> Design </a> / <a>43 Comments</a></p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        dipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae
                        attis Ut lectus purus, commodo et tincidunt vel, interdum sed lectus. Vestibulum adipiscing tempor nisi id elementu
                        auris ultricies, convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.
                    </p>

                    <p>
                        ornare nisi, vitae mattis Ut lectus purus, commodo et tincidunt vel, interdum sed lectus. Vestibulum adipiscing tempor
                        isi id elementu Mauris ultricies, convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui Duis tristique urna
                        acus. Nunc enim neque, eleifend et mollis in, convallis vitae lorem. Nam quis consectetur nunc.
                    </p>

                    <div class="block-quote">
                        <i class="fa fa-quote-right main-text-color"></i>
                        <div class="text main-text-color italic">Design is not just what it looks like and feels like.
                            <br /> Design is how it works. <span class="author">- Steve Jobs</span>
                        </div>
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        dipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae
                        attis Ut lectus purus, commodo et tincidunt vel, interdum sed lectus. Vestibulum adipiscing tempor nisi id elementu
                        auris ultricies, convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui Duis tristique urna lacus. Nunc enim
                        eque, eleifend et mollis in, convallis vitae lorem. Nam quis consectetur nunc.
                    </p>

                    <p>
                        Vivamus pulvinar odio id purus luctus, quis commodo lorem congue. Donec ante ante, pharetra eget blandit vitae,
                        celerisque in mi. Suspendisse sed eros et augue posuere dictum. Sed ullamcorper vestibulum diam ac mollis. Vestibulum
                        orttitor, odio sed ornare aliquet, nisl neque accumsan enim, a commodo lorem purus luctus magna.
                    </p>

                    <div class="icon list">
                        <div class="element">
                            <i class="main-bg-color alt-text-color fa fa-rocket pull-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur !</p>
                        </div>

                        <div class="element">
                            <i class="main-bg-color alt-text-color fa fa-plane pull-left"></i>
                            <p>Volutpat. Sed in nunc nec ligula consectetur ?</p>
                        </div>

                        <div class="element">
                            <i class="main-bg-color alt-text-color fa fa-user pull-left"></i>
                            <p>Primis in faucibus orci luctus et ultrices posuere. </p>
                        </div>

                        <div class="element">
                            <i class="main-bg-color alt-text-color fa fa-refresh pull-left"></i>
                            <p>Volutpat turpis, eu hendrerit enim scel. </p>
                        </div>
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        dipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae
                        attis Ut lectus purus, commodo et tincidunt vel, interdum sed lectus. Vestibulum adipiscing tempor nisi id elementu
                        auris ultricies, convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.
                    </p>
                    <p>
                        rnare nisi, vitae mattis Ut lectus purus, commodo et tincidunt vel, interdum sed lectus. Vestibulum adipiscing tempor
                        isi id elementu Mauris ultricies, convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui Duis tristique urna
                        acus. Nunc enim neque, eleifend et mollis in, convallis vitae lorem. Nam quis consectetur nunc.
                    </p>

                    <div class="code">
                        <div class="function">
                            .some-style {
                        </div>

                        <div class="line">
                            width: 960px;
                        </div>

                        <div class="line">
                            height: 200px;
                        </div>

                        <div class="line">
                            margin: 0 auto;
                        </div>

                        <div class="line">
                            background-color: #000000;
                        </div>
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        dipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae
                        attis Ut lectus purus, commodo et tincidunt vel, interdum sed lectus. Vestibulum adipiscing tempor nisi id elementu
                        auris ultricies, convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.
                    </p>
                    <p>
                        rnare nisi, vitae mattis Ut lectus purus, commodo et tincidunt vel, interdum sed lectus. Vestibulum adipiscing tempor
                        isi id elementu Mauris ultricies, convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui Duis tristique urna
                        acus. Nunc enim neque, eleifend et mollis in, convallis vitae lorem. Nam quis consectetur nunc.
                    </p>

                    <div class="author-box main-bg-color alt-text-color clearfix">
                        <div class="img-wrap">
                            <img src="../../images/author-1.png" class="img-responsive" alt="">
                        </div>
                        <div class="text">
                            <div class="author">
                                Author Name
                            </div>

                            <div class="about italic">
                                Vivamus pulvinar odio id purus luctus, quis commodo lorem congue. Donec ante ante, pharetra
                                celerisque in mi. Suspendisse sed eros et augue posuere dictum. Sed ullamcorper vestibulum
                                estibulum porttitor, odio sed ornare aliquet, nisl neque accumsan enim, a commodo lorem
                            </div>
                        </div>
                    </div>

                    <div class="sep-line"></div>

                    <div class="row post-accordion">
                        <div class="col-md-12">
                            <h4>Latest Blog</h4>
                        </div>
                        <div class="col-md-3 col-sm-6 main-el">
                            <div class="post-thumb" data-toggle="tooltip" data-placement="bottom" title="Donec id elit non mi porta loreta et">
                                <div class="photo">
                                    <div class="overlay">
                                        <i class="fa fa-share md"></i>
                                    </div>
                                    <img class="img-responsive" src="../../images/image-standard-1.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 main-el">
                            <div class="post-thumb" data-toggle="tooltip" data-placement="bottom" title="Donec id elit non mi porta loreta et">
                                <div class="photo">
                                    <div class="overlay">
                                        <i class="fa fa-share md"></i>
                                    </div>
                                    <img class="img-responsive" src="../../images/image-standard-2.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 main-el">
                            <div class="post-thumb" data-toggle="tooltip" data-placement="bottom" title="Donec id elit non mi porta loreta et">
                                <div class="photo">
                                    <div class="overlay">
                                        <i class="fa fa-share md"></i>
                                    </div>
                                    <img class="img-responsive" src="../../images/image-standard-3.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 main-el">
                            <div class="post-thumb" data-toggle="tooltip" data-placement="bottom" title="Donec id elit non mi porta loreta et">
                                <div class="photo">
                                    <div class="overlay">
                                        <i class="fa fa-share md"></i>
                                    </div>
                                    <img class="img-responsive" src="../../images/image-standard-4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sep-line"></div>

                    <div class="comment-section">
                        <h4>5 comments</h4>
                        <div class="comment-wrap">
                            <div class="comment">
                                <img src="../../images/commenter-1.png" class="img-responsive avatar" alt="">
                                <div class="textblock">
                                    <a class="main-text-color reply">Reply <i class="fa fa-play-circle-o"></i> </a>
                                    <div class="author">
                                        Andrei Holobut says:
                                    </div>
                                    <div class="time">March 23, 2013 at 7:58 pm</div>
                                    <div class="text">
                                        Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit
                                        atoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui Nulla dui. Fusce
                                        orbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies
                                        onec accumsan malesuada orci.
                                    </div>
                                </div>
                            </div>

                            <div class="comment-wrap">
                                <div class="comment">
                                    <img src="../../images/commenter-1.png" class="img-responsive avatar" alt="">
                                    <div class="textblock">
                                        <a class="main-text-color reply">Reply <i class="fa fa-play-circle-o"></i> </a>
                                        <div class="author">
                                            Andrei Holobut says:
                                        </div>
                                        <div class="time">March 23, 2013 at 7:58 pm</div>
                                        <div class="text">
                                            Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit
                                            atoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui Nulla dui. Fusce
                                            orbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies
                                            onec accumsan malesuada orci.
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-wrap">
                                    <div class="comment">
                                        <img src="../../images/commenter-default.png" class="img-responsive avatar" alt="">
                                        <div class="textblock">
                                            <a class="main-text-color reply">Reply <i class="fa fa-play-circle-o"></i> </a>
                                            <div class="author">
                                                Andrei Holobut says:
                                            </div>
                                            <div class="time">March 23, 2013 at 7:58 pm</div>
                                            <div class="text">
                                                Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit
                                                atoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <img src="../../images/commenter-default.png" class="img-responsive avatar" alt="">
                                        <div class="textblock">
                                            <a class="main-text-color reply">Reply <i class="fa fa-play-circle-o"></i> </a>
                                            <div class="author">
                                                Andrei Holobut says:
                                            </div>
                                            <div class="time">March 23, 2013 at 7:58 pm</div>
                                            <div class="text">
                                                Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit
                                                atoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="comment-wrap">
                            <div class="comment">
                                <img src="../../images/commenter-1.png" class="img-responsive avatar" alt="">
                                <div class="textblock">
                                    <a class="main-text-color reply">Reply <i class="fa fa-play-circle-o"></i> </a>
                                    <div class="author">
                                        Andrei Holobut says:
                                    </div>
                                    <div class="time">March 23, 2013 at 7:58 pm</div>
                                    <div class="text">
                                        Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit
                                        atoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui Nulla dui. Fusce
                                        orbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies
                                        onec accumsan malesuada orci.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sep-line"></div>

                    <div class="form-3">

                        <h4>Leave A Reply</h4>
                        <p>Your email adress will not be published</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Name *">
                            </div>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="E-mail *">
                            </div>

                            <div class="col-xs-12">
                                <textarea class="form-control" rows="10" placeholder="Message *"></textarea>
                                <div class="btns">
                                    <a class="button solid sm blue"><div class="over"><i class="fa fa-plane"></i>submit</div></a>
                                    <a class="clear main-text-color pull-right clear">
                                        Clear All <i class="fa fa-times-circle-o"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>